.App {
}
body {
  font-size: 0.8rem;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #5cba47;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #5cba47;
  flex: 1;
}
.field-label {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #7b7b7b;
}
.field-label-container {
}
.Title {
  width: 100vw;
  top: 0;
  height: 50px;
}
.logo {
  background-image: url(/images/primary_small.svg);
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: 75px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 15px;
}
.login {
  cursor: pointer;
  background-image: url(/images/accountlogin.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
