@media screen and (device-width: 411px) and (device-height: 731px) {
  /*Google Pixel 2 */
  body {
    font-size: 14px;
  }
  .App {
    overflow-y: scroll;
  }
  .itemlist-container {
    height: 489px;
    overflow-y: scroll;
    padding-bottom: 60px;
    position: fixed;
    top: 180px;
  }
  .field-helper-text {
    display: none;
  }
  .input-form {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-around;
  }
  .field-category {
    flex: 0 1 25%;
    order: 2;
    width: 20vw;
  }
  .field-name {
    flex: 0 1 25%;
    width: 34vw;
    order: 2;
  }
  .field-amount {
    flex: 0 1 16%;
    order: 3;
    width: 16vw;
  }
  .contents-add {
    align-self: flex-end;
    font-size: 1rem;
    order: 3;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    flex: 0 0 20%;
  }
  .inputs-container {
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 90px;
    background-color: white;
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 1%,
      rgba(255, 255, 255, 0.8) 27%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 1%,
      rgba(255, 255, 255, 0.8) 27%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 1%,
      rgba(255, 255, 255, 0.8) 27%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ffffff',GradientType=0 );
  }

  .category-title {
    font-size: 1.3rem;
  }

  .field-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .title-container {
    align-items: center;
  }
  .total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
/* 












*/
@media screen and (min-width: 412px) {
  body {
    font-size: 16px;
  }
  .input-form {
    display: flex;
    justify-content: space-between;
    max-width: 916px;
    width: 100vw;
  }
  .title-container {
    max-width: 1000px;
    align-items: flex-start;
  }
  .inputs-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 142px;
    padding: 30px 0;
    background-color: white;
  }
  .field-helper-text {
    display: inline-block;
    font-size: 0.7rem;
  }
  .field-label-container {
    width: 25%;
  }
  .contents-add {
    align-self: center;
    width: 10%;
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 10px;
  }

  .itemlist-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-items: flex-start;
    align-items: center;
    padding: 15px 0;
    position: absolute;
    top: 260px;
    z-index: -9999;
  }
  .category-title {
    font-size: 1.9rem;
  }
  .field-label {
    line-height: 1.65rem;
  }
  .item-container {
    margin-left: 30px;
    align-items: center;
  }
  .item-container:hover {
    background-color: #e8e8e8;
  }

  .item-remove-btn {
    font-size: 1.3rem;
    margin-left: 16px;
    background-color: #ffffff;
    border: none;
  }

  .total-container {
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
  }
}
/* 














*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.App {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding-bottom: 50px;
}
.navbar {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  height: 85px;
  background-color: #ffffff;
  box-shadow: 0px -8px 15px rgb(76, 76, 78);
  z-index: 1000;
}
.title-container {
  display: flex;
  justify-items: flex-start;
  position: fixed;
  top: 84px;
  width: 90vw;
  padding: 35px 0 15px 0;
  background-color: white;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #5cba47;
  flex: 1;
}

.inputs-container {
  align-items: center;
  width: 100vw;
}

.contents-list {
  margin-bottom: 20px;
}
.contents-category {
  flex: 1;
  order: 1;
  align-self: stretch;
  border-width: 1px;
  border-color: rgb(77, 77, 79);
  padding: 5px;
  -webkit-appearance: button;
  -moz-appearance: button;
}

.contents-itemname {
  flex: 1;
  align-self: stretch;
  border-width: 1px;
  border-color: rgb(77, 77, 79);
  padding: 5px;
  order: 3;
}
.contents-amount {
  flex: 1;
  align-self: stretch;
  border-width: 1px;
  border-color: rgb(77, 77, 79);
  padding: 5px;
  order: 5;
}

.contents-add {
  border-width: 1px;
  background: #ffc240;
  font-weight: bold;
  color: white;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 0px 0 5px 0;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #5cba47;
  border-bottom-style: solid;
  max-width: 1000px;
}

.category-name {
  font-weight: bold;
  color: #5cba47;
}

.item-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.item-name {
  flex: 1;
}
.item-amount {
  flex: 0;
}

.item-remove-btn {
  color: rgb(220, 20, 60);
}

.field-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.logo {
  background-image: url(/images/primary_small.svg);
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: 75px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.login {
  cursor: pointer;
  background-image: url(/images/accountlogin.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
